<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{ url_for('static', filename='css/game.css')}">
    <title>The Great Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h2>You got it right!</h2>
    <h2>The number was: {{ session['number']}}</h2>
    <h2>Would you like to play again????</h2>
    <form action="/" method="get">
        <input type="submit" name= 'return' value = 'Play Again'>
    </form>
</body>
</html>