<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Login and Registration</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/fonts.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{url_for('static', filename='css/style2.css')}}" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <h1>The Wall: Login and Registration</h1>
    <h2>Current Users</h2>
    <ul></ul>
    {% for user in users %}
      <li>{{ user['first_name'] }} {{ user['last_name'] }}</li><br>
    {% endfor %}
    </ul>
    <h2>Register</h2>
    <form class="" action="/register" method="post">
      <label for="first_name">first name</label>
      <input type="text" name="first_name" value="">
      <label for="last_name">last name</label>
      <input type="text" name="last_name" value="">
      <label for="email">email</label>
      <input type="text" name="email" value="">
      <label for="password">password</label>
      <input type="password" name="password" value="">
      <label for="confirm_password">confirm password</label>
      <input type="password" name="confirm_password" value="">
      <input type="submit" name="" value="register">
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <h2>Login</h2>
    <form class="" action="/login" method="post">
      <label for="email">email</label>
      <input type="text" name="email" value="">
      <label for="password">password</label>
      <input type="password" name="password" value="">
      <input type="submit" name="" value="log in">
    </form>
  </body>
</html>